%h1 Apps

%ul
- @wine_apps.each do |wine_app|
  %li
    = link_to wine_app.name, wine_app
    - if user_signed_in?
      = link_to 'Edit', edit_wine_app_path(wine_app)
   

%br
- if user_signed_in?  
  = link_to 'Submit New App', new_wine_app_path

