<!DOCTYPE html>
<html>
<head>
  <title>WineHQ </title>
	<!-- <link href="/assets/font-awesome.css?body=1" media="screen" rel="stylesheet" /> -->
	<link href="/assets/bootstrap.3.2.0.min.css?body=1" media="screen" rel="stylesheet" />
	<!-- <link href="/assets/bootstrap.css?body=1" media="screen" rel="stylesheet" /> -->
	<link href="/assets/bootstrap_and_overrides.css?body=1" media="screen" rel="stylesheet" />
	
	<!-- // <script src="/assets/jquery.js?body=1"></script> -->
	<script src="/assets/twitter/bootstrap.js?body=1"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>

<div class="container">
	<div class="row">
		<div class="col-md-3">
			hello.
		</div>
		<div class="col-md-3">
			hello.
		</div>
		<div class="col-md-6">
			hello!
		</div>
	</div>
</div>

<div class="container well">
	<div class="row">
	    <div class="col-xs-3">
	        <a href="#" class="thumbnail">
	            <img src="http://lorempixel.com/125/125" alt="125x125" width=125 height=125>
	        </a>
	    </div>
	    <div class="col-xs-3">
	        <a href="#" class="thumbnail">
	            <img src="http://lorempixel.com/125/125" alt="125x125" width=125 height=125>
	        </a>
	    </div>
	    <div class="col-xs-3">
	        <a href="#" class="thumbnail">
	            <img src="http://lorempixel.com/125/125" alt="125x125" width=125 height=125>
	        </a>
	    </div>
	    <div class="col-xs-3">
	        <a href="#" class="thumbnail">
	            <img src="http://lorempixel.com/125/125" alt="125x125" width=125 height=125>
	        </a>
	    </div>
	</div>
</div>
</body>
</html>