// Place all the styles related to the app controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.hallotoolbar {
    border: 1px solid #babdb6;
    padding: 2px;
    background-color: #eeeeec;
    border-radius: 6px;
    font-size: 12pt;
    line-height: 1.1em;
    width: 260px;
    z-index: 500;
}

div.hallotoolbar .dropdown-menu {
    width: "200px";
    background-color: #eeeeec;
    margin-top: -1px;
    border-left: 1px solid #babdb6;
    border-bottom: 1px solid #babdb6;
    border-right: 1px solid #babdb6;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

div.hallotoolbar .dropdown-menu .selected {
    background-color: #729fcf;
}

.hallotoolbar .ui-state-active {
	background-color: #729fcf;
}