// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#logo.app-logo {
	/*vertical-align: top;*/
	display: inline-block;
	margin: auto 5px;
	width: 120px;
	color: rgba(0, 0, 0, 0.5);
}

.app-well {
	display: inline-flex;
	line-height: 1;
}

.well {
	margin-bottom: 10px;
}

.vote-component {
	display: inline-block;
	margin: auto 3px;
	width: 100px;
}

#vote-chart {
	display: block;
	width: 100px;
	height: 75px;
	border-radius: 3px;
}

.btn-vote {
	line-height: 1;
}

.voteform {
	display: none;
}
.voteform.show {
	display: block;
}

#edit-toolbar {
	font-weight: normal;
}

.screenshots {
	display: inline-flex;
	margin: auto 5px;
}

.screenshot {
	display: inline-block;
	margin: auto 5px;
}

.add-screenshot small {
	display: block;
}

.add-screenshot {
	text-align: center;
	color: rgba(0, 0, 0, 0.50);
	cursor: default;
}

.add-screenshot:hover {
	color: black;
}

div#well div { 
	margin: auto 2px;
}
