%h1 Listing screenshots

%table
  %tr
    %th
    %th
    %th

  - @screenshots.each do |screenshot|
    %tr
      %td= link_to image_tag(screenshot.image.url(:thumb)), wine_app_screenshot_path(@wine_app, screenshot)
      %td= link_to 'Edit', edit_wine_app_screenshot_path(@wine_app, screenshot)
      - if can_delete_screenshot? screenshot
        %td= link_to 'Destroy', screenshot, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
